@charset "utf-8";

footer {
	background-color: #2a2f35;
	background: url(../img/bg-footer-2.jpg) scroll repeat;
	color: #ababab;

	h3 {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.05;
		letter-spacing: .05em;
	}

	.col-footer {
		padding-top: 32px !important;
		padding-bottom: 28px !important;
	}

	ul {
		li {
			font-size: 15px;
			line-height: 33px;

			a {
				display: block;
				color: #ababab;
			}

		}

	}

	.copyright {
		background: url(../img/bg-footer-1.jpg) scroll repeat;
		color: #818283;
		padding: 16px 0 15px;
		font-size: 14.4px;
	}

}
@media only screen and (max-width:768px) {
	.copyright{
		text-align: center;
	}
}
