@charset "utf-8";

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.top-header {
	background: #000000;

	ul {
		float: right;

		li {
			float: left;
			height: 33px;

			a {
				color: rgba(255, 255, 255, 0.8);
				padding: 6px 18px;
				font-size: 15px;
				display: inline-block;

				&:hover {
					color: #fff;
				}

				.icon-shopping-basket {
					margin-left: 5px;
				}

			}

			&:last-child {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&.header-search {
				a {
					padding: 5px 18px;

					i {
						font-size: 18px;
					}

				}

			}

			&.line {
				margin: 0 15px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					width: 1px;
					border-left: 1px solid rgba(255, 255, 255, 0.2);
					height: 15px;
					margin-top: -7px;
					left: 0;
				}

			}

		}

	}

}

.main-header {
	background: #fff url(../img/bg-01.jpg) repeat-x bottom center;
	height: 90px;

	.logo {
		float: left;
		width: 50px;
		margin-top: 9px;
	}

	.nav {
		float: right;
		margin-top: 24px;

		li {
			margin: 0 4px;
			display: inline-block;
			position: relative;

			&:last-child {
				margin-right: 0 !important;
			}

			&.blog {
				margin: 0 15px;
			}

			a {
				text-transform: uppercase;
				font-size: 15px;

				i {
					font-size: 16px;
					margin-left: .2em;
					opacity: .6;
				}

				&.has-arrow {
					position: relative;

					&:after {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 10px 10px 10px;
						border-color: transparent transparent #ffffff transparent;
						content: "";
						position: absolute;
						left: 50%;
						margin-left: -10px;
						top: 32px;
						display: none;
						z-index: 210;
					}

				}

			}

			ul {
				display: none;
				border: medium none;
				border-radius: 8px;
				box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
				position: absolute;
				min-width: 260px;
				z-index: 9;
				left: 50%;
				margin-left: -130px;
				background: #fff;
				z-index: 200;

				li {
					display: block;
					margin: 0;
					float: none;

					a {
						font-family: Arial;
						margin: 0 15px;
						color: rgba(17, 17, 17, 0.85);
						padding: 10px 0;
						display: block;
						font-size: 16px;
						border-bottom: 1px solid #ececec;
						text-transform: inherit;
					}

					&:last-child {
						a {
							border-bottom: 0;
						}

					}

				}

			}

		}

	}

}

.btn-close {
	display: none;
}

@media only screen and (max-width:1199px) {
	.main-header {
		.nav {
			li {
				a {
					padding-left: 7px;
					padding-right: 7px;
				}

				&.blog {
					margin: 0 4px;
				}

			}

		}

	}

}

@media only screen and (max-width:991px) {
	.main-header {
		.nav {
			li {
				margin: 0 2px;

				a {
					font-size: 14px;
					padding-left: 5px;
					padding-right: 5px;
				}

				&.blog {
					margin: 0 4px;
				}

			}

		}

	}

}

@media only screen and (min-width:769px) {
	.main-header {
		.nav {
			li {
				&:hover {
					.has-arrow {
						&:after {
							display: block;
						}

					}

					ul {
						display: block;
					}

				}

			}

		}

	}

}

@media only screen and (max-width:768px) {
	.main-header {
		position: relative;
		height: auto;

		.bt-menu {
			position: absolute;
			color: $main-color;
			font-size: 37px;
			top: 50%;
			margin-top: -25px;
			cursor: pointer;
		}

		.btn-close {
			display: block;
			position: fixed;
			top: 40px;
			right: 10px;
			font-style: normal;
			font-weight: 300;
			font-size: 40px;
			min-height: 0;
			text-align: center;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-family: Arial, monospace;
			color: #bbb;
			@include opacity(0);
			z-index: 220;
			@include transition();
			cursor: pointer;

			&.active {
				@include opacity(1);
				top: 25px;
			}

		}

		.logo {
			width: 100%;
			text-align: center;
			margin-bottom: 5px;

			a {
				display: inline-block;

				img {
					width: 50px;
				}

			}

		}

		.nav {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -265px;
			width: 260px;
			padding-top: 34px;
			overflow-y: scroll;
			@include transition();
			margin-top: 0;
			background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
			z-index: 200;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

			&.active {
				left: 0;
			}

			li {
				border-top: 1px solid #222;
				width: 100%;
				display: block;
				margin: 0 !important;

				a {
					color: #fff;
					text-transform: capitalize;
					padding: 6px 10px;

					&.active {
						i {
							-ms-transform: rotate(180deg);
							-webkit-transform: rotate(180deg);
							transform: rotate(180deg);
						}

					}

					i {
						float: right;
						font-size: 20px;
						margin-top: -3px;
						margin-right: 5px;
						@include transition();
					}

				}

				ul {
					position: relative;
					display: block;
					width: 100%;
					background: none;
					left: 0;
					margin-left: 0;
					padding-bottom: 30px;
					display: none;

					li {
						border: 0;

						a {
							padding-left: 20px;
							border: 0;
							color: #666;
							margin: 0;
							padding-top: 5px !important;
							padding-bottom: 5px !important;
						}

					}

				}

			}

		}

	}

	.main-header .nav li:hover .has-arrow:after {
		display: none !important;
	}

	.top-header {
		ul {
			li {
				&.line {
					margin: 0 5px;

					&:after {
						display: none;
					}

				}

				a {
					padding: 6px 10px;
				}

			}

		}

	}

}

@media only screen and (max-width:375px) {
	.top-header {
		ul {
			li {
				a {
					font-size: 13px;
					padding-left: 5px;
					padding-right: 5px;
				}

				&.line {
					display: none;
				}

				&.header-search {
					a {
						padding: 7px 5px;

						i {
							font-size: 15px;
						}

					}

				}

			}

		}

	}

}

/********** category *************/
.bread-crumb {
	color: #222;
	font-size: 19px;
	padding: 19px 0 30px;

	.left {
		padding-top: 11px;
	}

	ul {
		li {
			display: inline-block;
			text-transform: uppercase;

			span {
				@include opacity(0.35);
				margin: 0 5px;
			}

			a {
				color: rgba(102, 102, 102, 0.7);
			}

		}

	}

}

.sort-category {
	text-align: right;

	p {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		margin-right: 14px;
	}

	select {
		margin: 5px 0;
		display: inline-block;
		vertical-align: middle;
		font-family: Arial;
		box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
		background-color: #fff;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		outline: none;
		-webkit-border-radius: 8px;
		-khtml-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		background: url(../img/arrow-sort.png) no-repeat right  center;
		background-size: auto 6px;
		border: 1px solid #ddd;
		width: 247px;
		padding: 8px 13px;
		font-size: 15px;
	}

}

.box-sidebar {
	box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
	background: #fff;
	margin-bottom: 15px;
	.ttl-sidebar {
		text-align: center;
		color: #fff;
		background: $main-color;
		font-size: 18px;
		padding: 7px 2px 6px;
		margin-bottom: 7px;
	}

	ul {
		li {
			display: block;
			border-top: 1px solid #ececec;
			padding-left: 15px;
			&:first-child{
				border-top: 0;
			}

			a {
				display: block;
				color: #333;
				font-family: Arial;
				padding: 8px 0 7px;

				&.active {
					font-weight: bolder;
				}

			}

		}

	}

}
@media only screen and (max-width:991px) {
	.sort-category{
		text-align: center;
		margin-top: 20px;
	}
	.bread-crumb{
		font-size: 15px;
		.left{
			text-align: center;
		}
	}
}