#modalPopupImage .image-selected {
  border: 2px solid red ! important;
}
#modalPopupImage .active-folder {
  background: #a0cbd5;
}
#modalPopupImage .list-toolbar {
  margin: 0 !important;
  padding: 0 ! important;
}
#modalPopupImage .list-toolbar li {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}
#modalPopupImage .list-toolbar li a {
  display: block;
  padding: 0 10px !important;
}
#modalPopupImage .list-folder .folder-root {
  margin: 0 !important;
  padding: 0 10px ! important;
}
#modalPopupImage .list-folder .folder-root li {
  margin: 0 !important;
  padding: 0 !important;
}
#modalPopupImage .list-folder .folder-root li a {
  display: inline-block;
  padding: 0 10px 0 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul {
  margin: 0 !important;
  padding: 0! important;
}
#modalPopupImage .list-folder .folder-root li ul li {
  margin: 0 !important;
  padding: 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul li a {
  display: inline-block;
  padding: 0 10px 0 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders {
  margin: 0 !important;
  padding: 0 10px ! important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders li {
  margin: 0 !important;
  padding: 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders li a {
  display: inline-block;
  padding: 0 10px 0 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders li ul.items {
  margin: 0 !important;
  padding: 0 10px ! important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders li ul.items li {
  margin: 0 !important;
  padding: 0 !important;
}
#modalPopupImage .list-folder .folder-root li ul li ul.folders li ul.items li a {
  display: inline-block;
  padding: 0 10px 0 0 !important;
}
#modalPopupImage .list-files img {
  max-width: 100% !important;
  height: 200px;
  border: 2px solid transparent;
}
#modalPopupImage .options{
  margin-bottom: 20px;
}