.footer-top {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1f1e1e; }
  .footer-top .box-banner {
    background-image: url("./footerimg/Foot---ricky.png");
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 8%; }
  .footer-top .title {
    margin: 40px 0;
    position: relative;
    text-transform: uppercase; }
    .footer-top .title h2 {
      font-weight: bold;
      line-height: 20px; }
  .footer-top .footer-logo {
    background-image: url("./footerimg/logo-footer.png");
    z-index: 200;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px; }
  .footer-top .demo ul li {
    padding: 8px 0; }
  .footer-top .demo ul .i {
    position: relative;
    padding-left: 50px; }
    .footer-top .demo ul .i i {
      color: #4acbc0;
      border-radius: 50%;
      position: absolute;
      left: 15px; }
    .footer-top .demo ul .i .fa-phone {
      padding: 10px;
      border: 1px solid #0ddbd4; }
    .footer-top .demo ul .i .clock {
      position: absolute;
      padding: 17px;
      border-radius: 50%;
      border: 1px solid #0ddbd4; }
    .footer-top .demo ul .i .clock:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background: #0ddbd4;
      top: 55%;
      left: 48%;
      z-index: 100; }
    .footer-top .demo ul .i .clock:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 10px;
      background: #0ddbd4;
      top: 26%;
      left: 48%;
      z-index: 100; }
  .footer-top .demo ul .mxh {
    padding: 5px 0; }
    .footer-top .demo ul .mxh a i {
      font-size: 20px;
      -webkit-transition: 1s;
      transition: 1s; }
    .footer-top .demo ul .mxh a i:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .footer-top .demo ul .mxh a .fa-facebook-f {
      color: white;
      background-color: #3e5c9a;
      border-radius: 50%;
      padding: 5px 10px;
      margin-left: 10px; }
    .footer-top .demo ul .mxh a .fa-youtube-play {
      background-color: red;
      color: white;
      padding: 5px;
      border-radius: 50%; }
  .footer-top .demo .face-page {
    display: block !important;
    max-width: 100%; }
  .footer-top .demo a {
    font-size: 12px; }
  .footer-top .demo .fa-map-marker {
    font-size: 30px; }
  .footer-top .demo .fa-map-marker:after {
    content: "";
    position: absolute;
    content: "";
    width: 30px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #4acbc0;
    bottom: -16%;
    left: -6px; }

@media (min-width: 320px) and (max-width: 992px) {
  .footer-top .title {
    margin-bottom: 0; }
  .footer-top .logo {
    padding-left: 5rem !important; }
    .footer-top .logo .footer-logo {
      left: 0%; }
  .footer-top .map {
    padding-left: 0 !important;
    margin-bottom: 0; }
  .footer-top .demo ul .i {
    padding-left: 80px !important; }
    .footer-top .demo ul .i i {
      left: 32px; }
    .footer-top .demo ul .i p {
      padding-left: 0 !important; }
  .footer-top .demo #demo iframe {
    width: 100% !important;
    height: 180px; }
    .footer-top .demo #demo iframe .uiScaledImageContainer {
      max-width: 100% !important; }
    .footer-top .demo #demo iframe #u_0_0 {
      display: none !important; } }
