<div id="modalPopupImage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <div class="modal-content" style="width: 100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload ảnh hoặc chọn ảnh có sẵn</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-2">
                        <div class="tool-bar">
                            <ul class="list-toolbar">
                                <li><a href="javascript:void(0)" id="addFolder"><i class="fa fa-folder" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0)" id="removeFolder"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="list-folder"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="options">
                            <input type="file" class="fileUpload" id="fileUpload" multiple style="display:inline-block">
                            <button id="uploadFile">Tải lên</button>
                            <button id="choseFile" style="margin-left:5px">Chọn</button>
                            <button id="deleteFile" style="margin-left:5px">Xóa</button>
                        </div>
                        <div class="row list-files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>