
.divTable {
    /*height: 500px;*/
    width: 100%;
}
#table-data{
    width: 100% !important;
}

#table-data thead > tr > th , #table-data tbody > tr > td {
    min-width: 250px;
    height: 25px;
    border: dashed 1px lightblue;
}

.th_fix_width , .th_fix_width {
  min-width: 60px!important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-menu {
  border: 1px solid #d2d6de;
  border-radius: 0;
  padding: 0;
}
.dropdown-menu li + li{
  border-top: 1px solid #d2d6de;
}

.dropdown-menu li a.btn-filter-data {
  padding: 3px 20px;
  display: block;
}
.dropdown-menu li a.btn-filter-data .caret{
  position: absolute;
  top: 12px;
  right: 5px;
}
.dropdown-menu li a.btn-filter-addadd {
  padding: 3px 20px;
  display: block;
}
.dropdown-menu li a.btn-filter-add .caret{
  position: absolute;
  top: 12px;
  right: 5px;
}
.dropdown-menu ul li .form-group:first-child{
  margin-top: 15px;
}
#changeLimit{
  width: 26px;
  height: 26px;
  outline: none;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-submenu.show .dropdown-menu{
  display: block;
}

.dropdown-menu li a.btn-filter-data-add {
    padding: 3px 20px;
    display: block;
}
.dropdown-menu li a.btn-filter-data-add .caret{
    position: absolute;
    top: 12px;
    right: 5px;
}


