.footer-top {
  position: relative;
  width: 100%;
  background-color: #1f1e1e; }
  .footer-top .box-banner {
    background-image: url("./footerimg/Foot---ricky.png");
    position: absolute;
    width: 500px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 8rem; }
  .footer-top .title {
    margin: 40px 0;
    position: relative;
    text-transform: uppercase; }
    .footer-top .title h2 {
      font-weight: bold;
      line-height: 20px; }
  .footer-top .footer-logo {
    background-image: url("./footerimg/logo-footer.png");
    z-index: 200;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px; }
  .footer-top .demo ul li {
    padding: 10px 0; }
  .footer-top .demo ul .i {
    position: relative;
    padding-left: 50px; }
    .footer-top .demo ul .i i {
      color: #4acbc0;
      border-radius: 50%;
      position: absolute;
      left: 15px; }
    .footer-top .demo ul .i .fa-phone {
      padding: 10px;
      border: 1px solid #0ddbd4; }
    .footer-top .demo ul .i .clock {
      position: relative;
      padding: 9px 17px;
      border-radius: 50%;
      border: 1px solid #0ddbd4; }
    .footer-top .demo ul .i .clock:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background: #0ddbd4;
      top: 55%;
      left: 48%;
      z-index: 100; }
    .footer-top .demo ul .i .clock:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 10px;
      background: #0ddbd4;
      top: 26%;
      left: 48%;
      z-index: 100; }
  .footer-top .demo ul .mxh {
    padding: 15px 0; }
    .footer-top .demo ul .mxh a i {
      font-size: 20px;
      transition: 1s; }
    .footer-top .demo ul .mxh a i:hover {
      transform: scale(1.2); }
    .footer-top .demo ul .mxh a .fa-facebook-f {
      color: white;
      background-color: #3e5c9a;
      border-radius: 50%;
      padding: 10px 15px; }
    .footer-top .demo ul .mxh a .fa-youtube {
      background-color: red;
      color: white;
      padding: 10px;
      border-radius: 50%; }
  .footer-top .demo .fa-map-marker-alt {
    font-size: 30px; }
  .footer-top .demo .fa-map-marker-alt:after {
    content: "";
    position: absolute;
    content: "";
    width: 30px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #4acbc0;
    bottom: -16%;
    left: -4px; }

/*# sourceMappingURL=footer.css.map */
