.promotion {
  padding: 15px;
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
  z-index: 1000;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 10px;
  .content-promotion {
    border-bottom: 1px solid #EEEEEE;
    margin: 0px -15px;
    padding: 0px 15px;
    .promotion-input {
      .input-group-addon {
        border-left: 0px !important;
        cursor: pointer;
      }
      .active {
        background: #EEEEEE;
        color: black;
      }
    }
    .form-group {
      label {
        font-weight: 400 !important;
      }
    }
  }
  .footer-promotion{
    padding-top: 15px;
    text-align: right;
    button.apply-promotion {
      color: #EEEEEE ;
    }
    button.active {
      color: white !important;
    }
  }
}
