@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;	}
body{
	font-size: 14px;
}
.content_border{
	border:1px solid #ddd;
	width: 980px;
	height: 562px;

	margin: 0 auto;
	padding: 25px 25px;

	position: relative;
	/*background: url('../vendor/dist/img/wing.png');*/
	background-repeat: no-repeat;
	background-position: center;
}
.content_border_mutil{
	border:1px solid #ddd;
	width: 980px;
	height: 635px;
	margin: 0 auto;
	padding: 25px 25px;
	position: relative;
	/*background: url('../vendor/dist/img/wing.png');*/
	background-repeat: no-repeat;
	background-position: center;
}

.top h1{font-size: 22px; font-weight: 400;margin-bottom: 10px;}
.mid h1{font-size: 23px; font-weight: 500;margin-bottom: 20px;}
p{margin-bottom: 5px;}
.mt-15{margin-top: 15px;}
.mbt-15{margin-bottom: 15px;}
.mt-22{margin-top: 48px;}
.mt-10{margin-top: 10px;}
.mt-5{margin-top: 5px;}
.wrap-right-t{
	position: absolute;
	right: 14px;
	top: 22px;
}
.content-img{float: left; width:20%; margin-right: 4%;}
.top{ padding-bottom: 15px; border-bottom:1px solid #c7c7c7; }
	.text-center{text-align: center;}
	.text-left{text-align: left;}
	.text-right{text-align: right;}
.w33{float: left;width: 32.66%;margin-right: 1%; }
.w33:nth-child(3){margin-right:  0 !important}
.pull-r{float: right}
.wrap-box-last{border-top:2px solid #000;padding-top:5px;border-left:1px solid #c7c7c7;}
.wrap-box-last .pull-r{margin-right: 25px;}
.wrap-box-last .item{padding: 5px 0; border-bottom: 1px solid #c7c7c7;padding-left: 10px;}
h2{padding: 5px 10px; border:1px solid #000;}
.mgr-0{margin-right: 0 !important;}
.bdl-0{border-left :0 ;}
.title-line{font-weight: 500; border-bottom: 2px solid #000; padding-bottom: 6px; margin-bottom: 8px; margin-top: 14px;}
.bdr{border-right:1px solid #ddd;    min-height: 285px;}
.clearfix:after{
	clear: both;
	content: "";
	display: block;
	width: 0px;
	height: 0px;
}
.mid{
	/*padding-bottom:30px;*/
	border-bottom:1px solid #ddd;
	overflow: hidden
}
.loinhan{padding: 8px 0 4px;margin-top:7px; border-top:2px solid #000;border-bottom:2px solid #000;}
.w22{float: left;width: 50%; margin-top: 15px;}