@charset "utf-8";

.ttl-account {
	font-size: 24px;
	margin-bottom: 30px;
	line-height: 1.2;
	font-weight: bolder;
}

.content-account {
	padding: 35px 0 30px;
}

.mr20 {
	margin-right: 20px;
}

.ml20 {
	margin-left: 20px;
}

.mb10 {
	margin-bottom: 10px;
}

.ttl-col-ac {
	color: #333;
	font-size: 18px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: bold;
}

.border-left {
	border-left: 1px dotted #ececec;
}

.tb-cart {
	width: 100%;
	min-width: 500px;
	tr {
		th,
		td {
			padding: 8px;
		}

	}

	thead {
		th {
			font-weight: bold;
			font-size: 16px;
			line-height: 1.05;
			letter-spacing: .05em;
			border-bottom: 3px solid #ececec;
			vertical-align: middle;
		}

	}
	tbody{
		tr{
			td{
				vertical-align: middle;
				border-bottom: 1px solid #ececec;
				font-size: 15px;
				img{
					width: 76px;
				}
			}
		}
	}

}
a.remove{
	display: block;
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    line-height: 19px !important;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
}
.col-product-thumbnail{
	min-width: 60px;
    max-width: 90px;
    width: 90px;
}
.link {
  color: #3552a3;
}
.qualty.cart{
	margin-right: 0;
	input{
		width: 20px;
	}
}
.btn-cmn{
	&.full{
		width: 100%;
	}
	&.has-border{
		border: 2px solid $main-color;
		background: #fff;
		color: $main-color;
	}
}
.tb-total{
	width: 100%;
	thead{
		tr{
			th{
				font-weight: bold;
			font-size: 16px;
			line-height: 1.05;
			letter-spacing: .05em;
			border-bottom: 3px solid #ececec;
			padding-bottom: 7px;
			}
		}
	}
	tbody{
		tr{
			&.row01{
				td{
					padding: 14px 0;
				}
			}
			td{
				padding: 6px 0;
				border-bottom: 1px solid #ececec;
			}
		}
	}
}
.over-auto{
	overflow: auto;
}
.col-qualty{
	width: 90px;
}
.mb30{
	margin-bottom: 30px;
}
.ttl-col-cart{
	font-weight: bold;
    font-size: 15px;
    line-height: 1.05;
    letter-spacing: .05em;
    border-bottom: 3px solid #ececec;
    color: #333;
    padding-bottom: 10px;
    i{
    	opacity: .35;
    margin-right: 4px;
    }
}
@media only screen and (max-width:768px) {

}