@charset "utf-8";

.main-header {
	&.pg-agency {
		text-align: center;

		.nav {
			&.left {
				float: left;
			}

			&.right {
				float: right;
			}

		}

		.logo {
			display: inline-block;
			float: none;
		}

	}

}

.key-visual {
	background: url(../img/banner.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	position: relative;

	.text-inner {
		padding-top: 1px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		margin-top: 100px;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.banner-1-1 {
			color: #ffd207;
			font-size: 30px;
			font-weight: 700;
			line-height: 34px;
			margin-bottom: 15px;
			text-shadow: 3px 0 0 #333;
			text-transform: uppercase;
			margin-top: 30px;
		}

		.banner-1-2 {
			color: #4caf50 !important;
			font-size: 28px;
			font-weight: 700;
			line-height: 34px;
			margin-top: 15px !important;
			text-shadow: 1px 0 0 #fff;
			text-transform: uppercase;
			margin-bottom: 28px;
		}

	}

}

.dang-ky-dai-ly {
	background: $main-color;
	border-radius: 5px;
	box-shadow: 0 -3px 0 0 #161344 inset;
	color: #fff;
	display: block;
	margin: 18px auto;
	max-width: 500px;
	padding: 10px;
	text-align: center;
	width: 100%;

	a {
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		outline: none;
		display: block;
	}

}

.ttl-agency {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 33px 0 26px;
}

.content-benefit {
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	padding: 25px 20px 29px;
}

.list-agency-list {
	li {
		background: url(../img/i-check-1.png) no-repeat scroll 0 0 / 22px 22px;
		list-style: outside none none;
		text-indent: 40px;
		margin-bottom: 9px;
		font-size: 16px;
	}

}

.content-tb01 {
	background: #f5f5f5 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 5px 20px 10px;
}

.tb-benefit {
	tr {
		td {
			border-bottom: 1px solid #ececec;
			padding: 8px;
		}

	}

}

.mb40 {
	margin-bottom: 40px;
}

.img-ithumb {
	position: relative;
	text-align: center;
	padding-bottom: 5px;

	&:after {
		border: 1px solid rgba(255, 255, 255, 0.59);
		border-radius: 2px;
		content: "";
		height: 96%;
		left: 2%;
		position: absolute;
		top: 2%;
		width: 96%;
	}

}

.benefit {
	padding-bottom: 50px;
	background: #fff;
}

.apply {
	padding: 33px 0 30px;
}

.ttl-apply {
	font-size: 24px;
	font-weight: 400;
}

.paper {
	background: #fff;

	.inner {
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
		text-align: center;
		overflow: hidden;
	}

	.content-benefit {
		margin-top: 90px;
	}

}

.ttl-gia {
	font-size: 20px;
	font-weight: bold;
	padding: 36px 0 31px;
}

.table-banggia {
	margin-bottom: 46px;

	thead {
		tr {
			th {
				background: #dedede none repeat scroll 0 0;
				letter-spacing: .05em;
				text-transform: uppercase;
				padding: 8px;
				text-align: left;
				border-bottom: 1px solid #ececec;
				font-weight: bold;
				vertical-align: middle;
			}

		}

	}

	tbody {
		tr {
			th {
				font-weight: bold;
			}

			td,
			th {
				border-bottom: 1px solid #ececec;
				padding: 8px;
				vertical-align: middle;
			}

		}

	}

}

.how-to {
	padding-bottom: 30px;
}

.content-benefit {
	background: #fff;

	h4 {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 15px;
		font-size: 1.125em;
	}

}

span.numb {
	background: #75c260 none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 33px;
	text-align: center;
	width: 33px;
	height: 33px;
}

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #fafafa;
}

.infor {
	padding-bottom: 30px;
}

.customer {
	padding-bottom: 30px;

	.inner {
		border: 1px solid #b5b5b5;
		border-radius: 5px;
		margin-bottom: 20px;
		min-height: 95px;
		padding: 16px;
		position: relative;
	}

	.thumb {
		img {
			border-radius: 50%;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
			display: block;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: -50px;
			width: 100px;
			z-index: 100;
		}

	}

	.name {
		color: #f1430d;
		font-weight: bold;
		margin-top: 50px;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
	}

}

.list-customer {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.apply-now {
	padding: 30px 0;
	margin-bottom: 30px;
}

.header-argency-sm {
	display: none;
}

.anchor {
	position: relative;
	top: -90px;
}

.hidde {
	display: none;
}

.sort-category {
	&.full {
		width: 100%;
		margin-top: 0;

		select {
			width: 100%;
			margin: 0;
		}

	}

}

.ttl-pop-argency {
	color: #56a838;
	font-size: 26px;
	font-weight: 700;
	margin: 10px 0 28px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
	line-height: 36px;
}

.modal-agency {
	.input-text {
		margin-bottom: 0;
	}

}

.text-area {
	display: block;
	border-radius: 8px;
	font-family: Arial;
	border: 1px solid #ddd;
	height: 39px;
	font-size: 15.52px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 100%;
	height: 100px;
	padding: 10px;
}

@media only screen and (max-width:768px) {
	.header-argency-md {
		display: none;
	}

	.header-argency-sm {
		display: block;
	}

	.customer .inner {
		margin-bottom: 57px;
	}

	.content-benefit {
		padding: 10px
	}

	.list-customer {
		margin-bottom: 0;
	}

	.anchor {
		position: relative;
		top: -86px;
	}

	.key-visual {
		.text-inner {
			margin-top: 0;

			.banner-1-1 {
				font-size: 18px;
				line-height: 24px;
			}

			.banner-1-2 {
				font-size: 16px;
				line-height: 22px;
			}

		}

	}

	.ttl-agency {
		font-size: 18px;
	}

	.ttl-apply {
		font-size: 20px;
	}

	.dang-ky-dai-ly {
		a {
			font-size: 16px;
		}

	}

}

.over-auto {
	overflow: auto;
}
