@charset "utf-8";

.content-blog {
	padding: 35px 0 30px;
}

.ttl-blog {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: $main-color;
}

.bread-crumb-blog {
	background: #f5f5f5 none repeat scroll 0 0;
	border-bottom: 2px solid #f37022;
	margin: 0 0 25px;
	padding: 5px 15px 5px 15px;
	text-align: left;

	ul {
		margin-bottom: 5px;

		li {
			font-size: 16px;
			display: inline-block;

			a {
				color: $main-color;
			}

			span {
				margin: 0 1px;
			}

		}

	}

}

.box-blog {
	margin-bottom: 20px;
}

.list-blog {
	a {
		display: block;

		&:hover {
			.image {
				.date-visi {
					background: $main-color;
					color: #fff;

					.mounth {
						color: #fff;
					}

				}

			}

			p {
				color: $main-color;
			}

		}

		.image {
			display: block;
			border: 1px solid #ccc;
			padding: 5px;
			position: relative;
			margin-bottom: 14px;

			img {
				width: 100%;
			}

			.date-visi {
				top: 50%;
				margin-top: -18px;
				width: 44px;
				height: 44px;
				@include transition();
				padding-top: 8px;
				left: -8px;

				.mounth {
					margin-top: 8px;
					@include transition();
				}

			}

		}

		.ttl-dl-blog {
			line-height: 1.3;
			margin-top: 2px;
			margin-bottom: 1px;
			font-weight: bold;
			height: 40px;
			overflow: hidden;
		}

		p {
			margin: 1px 0;
			font-size: 14.4px;
			line-height: 23px;
			height: 46px;
			overflow: hidden;
		}

	}

}

.pager-blog {
	text-align: center;
	padding: 20px 0 40px !important;

	ul {
		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 3px;

			&.text {
				a {
					line-height: 34px;
				}

			}

			a {
				display: block;
				border: 2px solid $main-color;
				color: $main-color;
				font-size: 15px;
				width: 34px;
				height: 34px;
				text-align: center;
				line-height: 30px;
				@include border-radius(30px);
				font-weight: bold;

				i {
					font-size: 18px;
				}

				&:hover {
					background: $main-color;
				}

			}

		}

	}

}

@media screen and (max-width:768px) {
	.list-blog a .ttl-dl-blog,
	.list-blog a p {
		height: auto;
	}

}

.box-page-detail-blog {
	padding: 39px 0 53px;
	background: #333;
	text-align: center;

	ul {
		margin-bottom: 2px;

		li {
			display: inline-block;
			color: #fff;
			font-size: 16px;

			a {
				display: block;
				color: #fff;
			}

			span {
			}

		}

	}

	.ttl-detail-blog {
		color: #fff;
		font-size: 31px;
		position: relative;
		padding-bottom: 21px;

		&:after {
			position: absolute;
			height: 2px;
			width: 50px;
			left: 50%;
			bottom: 0;
			content: "";
			margin-left: -25px;
			background-color: rgba(255, 255, 255, 0.3);
		}

	}

}

.entry-content {
	p {
		margin-bottom: 20px;
		font-size: 16px;
	}

	h2 {
		color: $main-color;
		font-size: 20px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	a {
		color: $main-color;
	}

	ul {
		list-style: disc inside;
		margin-bottom: 20px;

		li {
			margin-bottom: 9px;
		}

	}

	h3 {
		color: #333;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 9px;
	}

	em {
		font-style: italic;
	}

	.cl-img {
		 
		display: block;
		margin: 0 120px 40px;

		.caption {
			display: block;
			padding: .4em;
			font-size: 5.76px;
			text-align: center;
			background: rgba(0, 0, 0, 0.05);
			font-style: italic;
			font-size: 14.4px;
		}

	}

}

.entry-content {
	position: relative;
	padding-bottom: 27px;

	&:after {
		position: absolute;
		background-color: $main-color;
		height: 2px;
		width: 50px;
		content: "";
		left: 50%;
		margin-left: -25px;
		bottom: 0;
	}

}

a.link {
	color: $main-color;
}

.text-borkmark {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	padding: 7px 0;
	font-size: 13px;
	margin-top: 37px;
}

.next-prev-nav {
	display: table;
	margin-bottom: 30px;
	table-layout: fixed;
	width: 100%;
	border-top: 2px solid #ececec;
	border-bottom: 1px solid #ececec;

	a {
		display: table-cell;
		vertical-align: middle;
		color: $main-color;
		position: relative; 
		padding: 10px 25px;

		i {
			font-size: 30px;
		}

		&.prev {
			border-right: 1px solid #ececec;
			text-align: left;
			i {
				position: absolute;
				top: 50%;
				margin-top: -18px;
				left: 0;
			}

		}

		&.next {
			border-left: 1px solid #ececec;
			text-align: right;

			i {
				position: absolute;
				top: 50%;
				margin-top: -18px;
				right: 0;
			}

		}

	}

}
.comment-blog{
	margin-bottom: 30px;
	.ttl-comment-blog{
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 6px;
	}
}
.italic{
	font-style: italic;
}
.mb20{
	margin-bottom: 20px;
}
.stl-select{

}
.sort-category.ct{
	margin-bottom: 20px;
	select{
		width: 100%;
		margin: 0;
	}
}
@media screen and (max-width: 768px) {
	.entry-content .cl-img{
		margin: 0 0 30px;
		img{
			display: block;
			margin: 0 auto;
		}
	}
}
.header-search{
	position: relative;
	&.active{
		.box-search{
			display: block;
		}
	}
}
.box-search{

 	display: none;
	position: absolute;
	width: 300px;
	right: 0;
	top: 99%;
	z-index: 10;
	input{
		display: inline-block;
		float: left;width: 250px;
		@include border-radius(0);
	}
	.btn-cmn{
		display: inline-block;
		float: right;
		width: 50px;
		@include border-radius(0);
	}
}