@charset "utf-8";

.top-product {
	padding-top: 40px;

	.left-pro {
		.popup {
			position: absolute;
			width: 39px;
			height: 39px;
			text-align: center;
			line-height: 35px;
			border: 2px solid #ababab;
			color: #ababab;
			@include border-radius(40px);
			left: 10px;
			bottom: 10px;
			z-index: 300;
			outline: none;

			&:hover {
				border-color: #000000;
				background: $main-color;
				color: #fff;
			}

		}

	}

	.right-product {
		.pro-breadcrumbs {
			margin-bottom: 7px;

			ul {
				li {
					display: inline-block;
					color: rgba(102, 102, 102, 0.7);
					font-size: 13.6px;

					a {
						color: rgba(102, 102, 102, 0.7);
					}

					span {
						margin: 0 4px;
					}

				}

			}

		}

		.ttl-detail {
			font-size: 20px;
			color: #333333;
			position: relative;
			padding-bottom: 17px;
			margin-bottom: 6px;

			&:after {
				position: absolute;
				content: "";
				background-color: $main-color;
				height: 2px;
				width: 50px;
				left: 0;
				bottom: 0;
			}

		}

		.inner-left {
			margin-bottom: 3px;
		}

		.price-detail {
			font-size: 24px;
			color: $main-color;
			margin-bottom: 10px;

			span {
				font-size: 14px;
				display: inline-block;
				position: relative;
				top: -7px;
			}

		}

		p {
			font-family: Arial;
			line-height: 25.6px;
			margin-bottom: 19px;
		}

		.qual-bt {
			margin-bottom: 36px;
		}

		.sku {
			display: block;
			border-top: 1px dotted #ddd;
			padding: 5px 0;
			font-size: 12.8px;
			line-height: 20.48px;
		}

		.posted_in {
			display: block;
			border-top: 1px dotted #ddd;
			padding: 5px 0;
			font-size: 12.8px;
			line-height: 20.48px;

			a {
				color: $main-color;
			}

		}

	}

}

.inner-left {
	>div {
		float: left;
	}

}

.qualty {
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 8px;
	float: left;
	margin-right: 22px;

	.des {
		border-right: 1px solid #ddd;
		color: #888;
		background-color: #f9f9f9;
		float: left;
		line-height: 37px;
		padding: 0 8px;
	}

	input {
		float: left;
		text-align: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		outline: none;
		border: 0;
		height: 37px;
		width: 37px;
		font-size: 15px;
		color: #333;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	}

	.inc {
		border-left: 1px solid #ddd;
		color: #888;
		background-color: #f9f9f9;
		float: left;
		line-height: 37px;
		padding: 0 8px;
	}

}

.btn-cmn {
	background: $main-color;
	font-weight: bolder;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	outline: none;
	border: 0;
	font-size: 15.52px;
	padding: 9px 21px;
	letter-spacing: 0.05em;
	@include border-radius(8px);
}

.social-icons {
	margin-top: 13px;

	a {
		display: inline-block;
		width: 33px;
		height: 33px;
		text-align: center;
		line-height: 29px;
		border: 2px solid #ababab;
		color: #ababab;
		@include border-radius(20px);
		margin-right: 3px;

		i {
			font-size: 15.8px;
		}

		&:hover {
			color: #fff;
		}

		&.face {
			&:hover {
				background: #3a589d;
				border-color: #3a589d;
			}

		}

		&.twitter {
			&:hover {
				background: #2478ba;
				border-color: #2478ba;
			}

		}

		&.envelop {
			&:hover {
				background: #111111;
				border-color: #111111;
			}

		}

		&.pinterest {
			&:hover {
				background: #cb2320;
				border-color: #cb2320;
			}

		}

		&.google {
			&:hover {
				background: #dd4e31;
				border-color: #dd4e31;
			}

		}

		&.linkedin {
			&:hover {
				background: #0072b7;
				border-color: #0072b7;
			}

		}

	}

}

.zoom {
	display: inline-block;
	position: relative;
}

/* magnifying glass icon */
.zoom:after {
	content: '';
	display: block;
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0;
	right: 0;
}

.zoom img {
	display: block;
}

.zoom img::selection {
	background-color: transparent;
}

.head-tab {
	border-top: 1px solid #ececec;

	li {
		float: left;

		&.current {
			a {
				background: $main-color;
				color: #fff;
				border-color: $main-color;

				&:active {
					border-color: $main-color;
				}

			}

		}

		a {
			display: block;
			color: #333;
			font-size: 18px;
			font-weight: 700;
			padding: 8px 46px;
			text-transform: uppercase;
			background: #ececec;
			border-top: 2px solid #ececec;

			&:hover {
				border-color: $main-color;
			}

		}

	}

}

.tab-content {
	display: none;
	padding-top: 16px;
}

#tab-1 {
	display: block;
}

.bold {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

.content-text {
	h2 {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 10px;
		font-weight: bold;
	}

	p {
		margin-bottom: 1.3;
		margin-bottom: 20px;
	}

	ul {
		list-style: disc inside;
		margin-bottom: 20px;

		li {
			margin-bottom: 9px;
		}

	}

}

.ttl-review {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 14px;
}

.box-comment {
	position: relative;
	padding: 16px 24px 11px 85px;

	+.box-comment {
		border-top: 1px dashed #ddd;
	}

	.star-rating {
		margin-bottom: 2px;
		margin-top: 0;
	}

	.avatar {
		position: absolute;
		top: 16px;
		left: 0;
		border-radius: 100px;
		overflow: hidden;
	}

	.meta {
		font-family: Arial;
		font-size: 16px;
	}

	p {
		font-style: italic;
		margin-bottom: 20px;
		line-height: 25.6px;
	}

}

.stars a {
	font-size: 16px;
	margin-left: -10px;
	display: inline-block;
	color: transparent;
	overflow: hidden;
	font-family: 'fl-icons';
}

.stars a:after {
	color: #ddd;
	content: '\e005';
}

.stars a.star-2:after {
	content: '\e005\e005';
}

.stars a.star-3:after {
	content: '\e005\e005\e005';
}

.stars a.star-4:after {
	content: '\e005\e005\e005\e005';
}

.stars a.star-5:after {
	content: '\e005\e005\e005\e005\e005';
}

.stars a+a {
	margin-left: .3em;
	border-left: 1px solid #ececec;
}

.stars a.active {
	color: #ffb200 !important;
}

.stars a:hover:after,
.stars a.active:after {
	color: #d26e4b;
}

.input-text {
	display: block;
	border-radius: 8px;
	font-family: Arial;
	border: 1px solid #ddd;
	padding: 0 11px;
	height: 39px;
	font-size: 15.52px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 100%;
}

.text-area {
	border-radius: 8px;
	font-family: Arial;
	min-height: 100px;
	padding: 10px 11px 0;
	border: 1px solid #ddd;
	width: 100%;
	resize: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 19px;
}

.mb15 {
	margin-bottom: 15px;
}

.box-rating {
	border: 1px solid #cccccc;
	padding: 32px 30px;
	border-radius: 8px;
	font-family: Arial;
	background: #fff;

	.ttl-rating {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 14px;
	}

	p {
		margin-bottom: 8px;

		&.stars {
			margin-bottom: 21px;
		}

	}

}

.ttl-same-pro {
	font-size: 16px;
	text-transform: none;
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
}

.same-pro {
	.product-top {
		box-shadow: none;

		&:hover {
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}

	}

}

.content-detail {
	margin-bottom: 72px;
}

@media screen and (min-width:769px) {
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}

}
