@charset "utf-8";

@media screen and (max-width:768px) {
	.support_botom {
		display: none;
	}

	#widget-right .rmenunz {
		width: 320px !important;
	}

	#widget-right .rmenunz1 {
		width: 28px !important;
	}

	#widget-right .rmenunz1 span:first-child {
		display: none !important;
	}

	#widget-right .rmenunz1 span:last-child {
		display: block !important;
	}

	#bars .row div:not(.col).elPost {
		width: 100% !important;
	}

	#bars .elPost:nth-child(2n+1) {
		padding-right: 0 !important;
	}

	#bars .elPost:nth-child(2n) {
		padding-left: 0 !important;
	}

	#bars .postsRow {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#bars::after {
		background: none !important;
	}

	.postBlock::before,
	.postBlock:hover::before {
		background: none !important;
		border: 0 !important;
	}

	#bars .elPost:nth-child(2n+1) {
		margin-top: 0 !important;
	}

	#bars .elPost:nth-child(2) {
		margin-top: 0 !important;
	}

	#bars .elPost:nth-child(2n) {
		margin-top: 0 !important;
	}

	.postDate {
		text-align: center !important;

		&:before {
			display: none;
		}

	}

}

#bars {
	position: relative;
}

#bars::after {
	background: #888 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 50%;
	margin-left: -1px;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 5;
}

#bars .postsRow {
	margin-left: 100px;
	margin-right: 100px;
}

#bars .elPost:nth-child(1) {
	margin-top: 0 !important;
	padding-top: 0;
}

#bars .elPost:nth-child(2n+1) {
	clear: left;
	float: left;
	padding-right: 65px;
}

#bars .elPost {
	display: block;
	margin-top: 40px;
	padding-top: 40px;
	position: relative;
	width: 421px;
}

#bars .elPost:nth-child(2) {
	margin-top: 50px;
	padding-top: 50px;
}

#bars .elPost:nth-child(2n) {
	clear: right;
	float: right;
	padding-left: 65px;
}

.postDate::before {
	background: #888 none repeat scroll 0 0;
	content: "";
	height: 2px;
	position: absolute;
	right: -63px;
	top: 13px;
	width: 50px;
	z-index: 10;
}

.postDate {
	color: #888;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 15px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
}

p.postDate {
	color: #333;
	font-family: Roboto;
}

#bars .elPost:nth-child(1) .postBlock::before {
	top: 0;
}

.postBlock::before,
.postBlock:hover::before {
	background: #eee none repeat scroll 0 0;
	border: 4px solid #888;
	border-radius: 50%;
	content: "";
	height: 27px;
	position: absolute;
	right: -13px;
	top: 40px;
	width: 27px;
	z-index: 10;
}

.postBlock {
	background: white none repeat scroll 0 0;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	box-shadow: 0 2px 4px #ccc;
	overflow: hidden;
	transition: all 0.2s ease-in-out 0s;
}

.postImg {
	overflow: visible;
}

.postImg img {
	display: block;
	height: auto;
	width: 100%;
}

#bars .thumbnail {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	line-height: 1.42857;
	margin-bottom: 10px;
	padding: 4px;
	transition: border 0.2s ease-in-out 0s;
}

.postBody {
	padding: 0 15px;
}

.postTitle {
	font-weight: 400;
	line-height: 1.25em;
	margin-bottom: 15px;
}

h3.postTitle {
	font-family: Arial;
	font-size: 16px;
}

#bars .row > div:not(.col) {
	width: 50% !important;
}

#bars .elPost:nth-child(2) .postDate::before {
	top: 3px;
}

.elPost:nth-child(2n) .postDate::before {
	left: -63px;
}

#bars .elPost:nth-child(2n) .postDate {
	text-align: left;
}

#bars .elPost:nth-child(2n) .postBlock::before {
	left: -14px;
	right: auto;
}

.conten-introduction {
	padding: 35px 0 30px;

	.ttl-introduction {
		font-size: 24px;
		margin-bottom: 30px;
		line-height: 1.2;
		font-weight: bolder;
	}

}
