@charset "utf-8";

.main-slider {
	margin-bottom: 10px;
	position: relative;

	&:hover {
		.bx-prev {
			@include opacity(1);
			left: 28px;
		}

		.bx-next {
			@include opacity(1);
			right: 28px;
		}

	}

	.bxslider {
		a {
			display: block;

			img {
				width: 100%;
				max-width: none;
			}

		}

	}

	.bx-pager {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 70;
		text-align: center;
		padding: 18px;

		.bx-pager-item {
			display: inline-block;
			margin: 0 3px;

			a {
				width: 12px;
				height: 12px;
				display: block;
				border-radius: 30px;
				border: 3px solid #fff;
				@include opacity(0.4);
				overflow: hidden;
				text-indent: -999px;
				@include transition();

				&:hover {
					background-color: #fff;
					@include opacity(1);
				}

				&.active {
					background-color: #fff;
					@include opacity(1);
				}

			}

		}

	}

	.bx-prev {
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 30px;
		overflow: hidden;
		background-image: url(../img/arrow-left.png);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -999px;
		top: 50%;
		left: 36px;
		z-index: 60;
		border: 2px solid #fff;
		@include opacity(0);
		@include transition();
		margin-top: -18px;

		&:hover {
			border-color: #000;
			background-color: #000;
		}

	}

	.bx-next {
		position: absolute;
		width: 36px;
		height: 36px;
		border-radius: 30px;
		overflow: hidden;
		background-image: url(../img/arrow-right.png);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -999px;
		top: 50%;
		right: 36px;
		z-index: 60;
		border: 2px solid #fff;
		@include opacity(0);
		@include transition();
		margin-top: -18px;

		&:hover {
			border-color: #000;
			background-color: #000;
		}

	}

}

/************* product ************/
.ttl-cmn {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 27px;
	color: #333;
}

.section-product-top {
	padding-top: 33px;
}

.product-top {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	@include transition();
	margin-bottom: 19px;

	&:hover {
		a,.image {
			.tool {
				bottom: 0;
			}

		}

	}

	&:hover {
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
		box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
	}

	a,.image {
		display: block;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}

		.tool {
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -35px;
			@include transition();
			text-align: center;
			background: $main-color;
			color: #fff;
			text-transform: uppercase;
			@include opacity(0.95);
			font-size: 14px;
			font-weight: bold;
			padding: 7px 0;
			z-index: 10;
		}

	}

	.box-text {
		text-align: center;
		font-size: 14px;
		padding: 12px 23px 17px;

		p {
			height: 38px;
			overflow: hidden;
		}

		.price {
			font-size: 18px;
			color: $main-color;

			span.dv {
				font-size: 13px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -4px;
				margin-left: 1px;
			}

		}

	}

}

/**************** banner *****************/
.banner-top {
	a {
		display: block;

		img {
			width: 100%;
		}

	}

	.row {
		>div {
			margin-bottom: 19px;
		}

	}

}

/*****************join with us*******************/
.section-join-with-us {
	padding-top: 29px;

	.inner {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
		margin-bottom: 30px;
	}

}

.box-view {
	border-bottom: 1px solid #ececec;
	a {
		position: relative;
		display: block;
		color: $main-color;
		padding: 10px 0 5px 75px;
		min-height: 80px;

		p {
			font-size: 14px;

			&.prc {
				margin-top: 5px;
				font-weight: 400;
			}

		}

	}

	img {
		position: absolute;
		width: 60px;
		top: 10px;
		left: 0;
	}

}

@media only screen and (max-width:1199px) {
	.product-top {
		.box-text {
			padding-left: 5px;
			padding-right: 5px;
		}

	}

}

@media only screen and (max-width:768px) {
	.section-join-with-us {
		.inner {
			margin-bottom: 10px;
		}

	}

	.ttl-cmn {
		font-size: 20px;
	}

}
