@charset "utf-8";

.content-vision {
	padding: 34px 0;

	.page-inner {
		padding-bottom: 30px;
	}

	p {
		margin-bottom: 22px;
		line-height: 1.6;
		font-size: 16px;
	}

	ul {
		list-style: disc inside;
		margin-bottom: 20px;

		li {
			display: list-item;
			text-align: -webkit-match-parent;
			margin-bottom: 9px;
			line-height: 25.6px;
		}

	}

}

.ttl-vision {
	color: $main-color;
	font-size: 20px;
	margin-bottom: 17px;
	font-weight: bolder;
}

.ttl-sibar02 {
	font-size: 18px;
	line-height: 1.05;
	letter-spacing: .05em;
	position: relative;
	font-weight: bolder;
	padding-bottom: 12px;
	margin-bottom: 15px;

	&:after {
		position: absolute;
		background-color: $main-color;
		height: 2px;
		width: 50px;
		content: "";
		left: 0;
		bottom: 0;
	}

}

.box-sibar-right {
	margin-bottom: 34px;
}

.list-new-post {
	padding-top: 1px;

	li {
		display: block;
		list-style: none;
		margin-bottom: 9px !important;

		+li {
			border-top: 1px solid #ececec;
		}

		a {
			display: block;
			position: relative;
			padding-left: 50px;
			padding-top: 9px;
			padding-bottom: 8px;

			&:hover {
				p {
					color: $main-color;
				}

			}

			p {
				line-height: 18px;
				margin-bottom: 0;
				min-height: 36px;
			}

		}

	}

}

.date-visi {
	position: absolute;
	background: #fff;
	top: 10px;
	left: 0;
	color: $main-color;
	border: 2px solid $main-color;
	text-align: center;
	width: 36px;
	height: 36px;
	font-weight: bold;
	font-size: 16px;
	line-height: 11.2px;
	padding-top: 5px;

	.mounth {
		display: block;
		margin-top: 4px;
		font-size: 11.2px;
		line-height: 7.84px;
		color: $main-color;
	}

}
